h1, h3 {
  text-align: center;
  margin: 20px;
}

ul, #task {
  font: 1.3em 'Indie Flower', cursive;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  color: #aaa;
}

.form {
  display: flex;
}

#task {
  margin-right: 10px;
}

.delete {
  cursor: pointer;
}

[contenteditable] {
  outline: none;
}
