h1, h3 {
  text-align: center;
  margin: 20px;
}

/*
.container {
  text-align: center;
  padding: 20px;
}
*/

button {
  display: block;
  margin: 0 auto;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  color: #aaa;
}

.form {
  display: flex;
}

.delete {
  cursor: pointer;
}
