h1, h3 {
  text-align: center;
  margin: 20px;
}

button {
  display: block;
  margin: 0 auto;
}

#todo-list {
  font-family: 'Indie Flower', cursive;
}

#completed-list {
  font-family: 'Indie Flower', cursive;
}

.completed {
  text-decoration: line-through;
  font-style: italic;
  color: #aaa;
}

.form {
  display: flex;
}

.delete {
  cursor: pointer;
}

[contenteditable] {
  outline: none;
}
